* {
  margin: 0;
  padding: 0;
}
.container {
  display: inline-block;
  width: 100%;
}
.registration {
  display: flex;
  flex-direction: column;
  padding: 30px;
  font-family: sans-serif;
  background-color: burlywood;
}
.registration > h1 {
  text-align: center;
}
.registration > form {
  display: flex;
  flex-direction: column;
  margin: 10px auto;
  border: 1px solid grey;
  padding: 30px;
}
.registration > form > label,
.registration > form > input {
  margin-bottom: 10px;
}
.registration > form > a {
  display: inline-block;
  margin: 10px 0px;
  text-decoration: none;
}
.registration > form > a:hover {
  text-decoration: underline;
}
